barcode
bokeh
click
decorator
email_validator
Flask-Admin
flask-alchemydumps
Flask-Babel
Flask-BabelEx
Flask-Bootstrap
Flask-Cors
Flask-Login
Flask-Mail
flask-marshmallow
Flask-Migrate
Flask-Security
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
Flask>=2.0.1
flask_cors
flask_log_request_id
fpdf
imageio
imutils
jsonschema
lxml
Markdown
marshmallow
marshmallow-jsonapi
marshmallow-sqlalchemy
matplotlib
numpy
opencv-python
pandas
pdfkit
pdf2image
Pillow
protobuf
psycopg2-binary
pydantic
pydantic_loader[toml]
pyparsing
PyPDF2
pytesseract
pytest
pytest-disable-plugin
pytest-flask
pytest-postgresql
python-dateutil
python-dotenv
python-magic
python-socketio
pyzbar
reportlab
requests
sortedcontainers
SQLAlchemy
sqlalchemy-querybuilder
SQLAlchemy-Utils
tifffile
toml
ua-parser
user-agents
Werkzeug
pdfkit


