
#html-container  { 
    display:inline-flex;
    margin:0 auto;
    padding:0;
    font:normal 12px Arial;
    width:100%;
}

.report-container { 
    text-align: center;
    width:100%;
}

.report {
    height:auto;
    margin-top: 20px;
}

.title, .line, .placeholder { width:100%; text-align:center; }
.caption, #report { width:60vw; text-align:center; }
.caption table { width:100%; }
.report table { width:60vw; }
.report th, .report td { padding:5px; }
.report th { font-weight:bold; }

.code, .c2 { padding:10px !important; }

.pregion { white-space:nowrap; }
th.pregion { text-align:center; } 
td.pregion { text-align:left; }

.top, .region_level0 { font-weight:bold; text-align:center !important;border:2px solid black; }

.top { background-color:#eb8; }
.region_level0 { background-color:#8e8; }

.c1 { white-space:nowrap;}
th.c2, th.c3, th.c11, th.c12, th.c13 {}

img.state { width:20px; background-color:transparent; }

.together { width:80px !important; }

#report { margin-top:0px; margin-bottom:0px; }

.line { padding-top:20px; }
.placeholder { font-size:10px; }

.report .row { display:revert; }

h3.title { font-size:1.0em; font-weight:bold; }
h4 { font-size:12px !important; font-style:italic; }

.view-buttons { padding:20px; }

@media print {
    .caption { width:80vw !important; }
}
