
<div id="error-container" title="" style="display:none;">
  <div id="error-info">
    <h3 id="error-notification">ВНИМАНИЕ!</h3>
    <p id="error-text"></p>
    <div id="error-button"></div>
  </div>
</div>

<div class="common-dialog" id="confirm-container" title="{{ g.maketext('Confirm notification form') }}" style="display:none;">
  <h3 id="confirm-notification">{{ g.maketext('Please, confirm') }}:</h3>
  <div id="confirm-info"></div>
</div>

<div class="common-dialog" id="notification-container" title="{{ g.maketext('Notification form') }}" style="display:none;">
  <div id="notification-info"></div>
</div>
